<ion-content color="light">
  <app-page-header title="Expense History"></app-page-header>

  <div class="summary-cards-scroll">
    <div class="summary-card pending">
      <div class="label">
        <div class="dot"></div> Pending
      </div>
      <div class="amount-wrap">
        <span class="amount-main">{{ 1240 | currency:'USD':'symbol':'1.0-0' }}</span><span class="amount-cents">.00</span>
      </div>
    </div>
    
    <div class="summary-card approved">
      <div class="label">
        <div class="dot"></div> Approved
      </div>
      <div class="amount-wrap">
        <span class="amount-main">{{ 3500 | currency:'USD':'symbol':'1.0-0' }}</span><span class="amount-cents">.50</span>
      </div>
    </div>
    
    <div class="summary-card rejected">
      <div class="label">
        <div class="dot"></div> Rejected
      </div>
      <div class="amount-wrap">
        <span class="amount-main">{{ 120 | currency:'USD':'symbol':'1.0-0' }}</span><span class="amount-cents">.00</span>
      </div>
    </div>
  </div>

  <div class="lists-container">
    <div class="month-group" *ngFor="let group of groups">
      <div class="group-header">{{ group.month }}</div>
      
      <div class="requests-list">
        <app-expense-card
          *ngFor="let req of group.items"
          [title]="req.title"
          [category]="req.category"
          [date]="req.date"
          [amount]="req.amount"
          [status]="req.status"
          [icon]="req.icon"
          [iconColor]="req.iconColor">
        </app-expense-card>
      </div>
    </div>
  </div>

  <div class="bottom-spacer"></div>
</ion-content>

<div class="floating-btn-container">
  <ion-button expand="block" shape="round" color="primary" class="create-btn" (click)="goToCreate()">
    <ion-icon name="add-outline" slot="start"></ion-icon>
    Create Expense Request
  </ion-button>
</div>
