<ion-content class="splash-content" [fullscreen]="true">
  <div class="splash-container">
    <div class="logo-wrapper">
      <div class="logo-bg-1"></div>
      <div class="logo-bg-2"></div>
      <div class="logo">
        <span class="logo-text">K</span>
      </div>
    </div>
  </div>
  
  <div class="splash-footer">
    <h1 class="text-h2 app-title">K A R A J O</h1>
    <p class="text-body-small-semibold app-subtitle">HRIS PLATFORM</p>
    
    <div class="spinner-wrapper">
      <ion-spinner name="crescent" color="primary"></ion-spinner>
    </div>
    
    <p class="text-body-xsmall-medium app-version">v1.0.0 &copy; 2026</p>
  </div>
</ion-content>
