<ion-content>
  <app-page-header [title]="'Filter Expenses' | translate"></app-page-header>
  <div class="filter-section">
    <div class="section-title">Rentang Tanggal</div>
    <div class="date-row">
      <div class="date-input">
        <div class="input-label">Tanggal Mulai</div>
        <div class="custom-input">
          <span>09.00</span>
          <ion-icon name="calendar-outline"></ion-icon>
        </div>
      </div>
      <div class="date-input">
        <div class="input-label">Tanggal Akhir</div>
        <div class="custom-input">
          <span>10.30</span>
          <ion-icon name="calendar-outline"></ion-icon>
        </div>
      </div>
    </div>
  </div>

  <div class="filter-section">
    <div class="section-title">Kategori</div>
    <div class="custom-input select-input">
      <span>Perjalanan & Transportasi</span>
      <ion-icon name="chevron-down-outline"></ion-icon>
    </div>
  </div>

  <div class="filter-section borderless">
    <div class="section-title">Status</div>
    
    <div class="status-list">
      <label class="status-item">
        <div class="status-label">
          <div class="dot draft"></div> Draf
        </div>
        <input type="radio" name="status" value="Draft" [(ngModel)]="selectedStatus">
        <div class="custom-radio"></div>
      </label>

      <label class="status-item">
        <div class="status-label">
          <div class="dot submitted"></div> Dikirim
        </div>
        <input type="radio" name="status" value="Submitted" [(ngModel)]="selectedStatus">
        <div class="custom-radio"></div>
      </label>

      <label class="status-item">
        <div class="status-label">
          <div class="dot approved"></div> Disetujui
        </div>
        <input type="radio" name="status" value="Approved" [(ngModel)]="selectedStatus">
        <div class="custom-radio"></div>
      </label>

      <label class="status-item">
        <div class="status-label">
          <div class="dot rejected"></div> Ditolak
        </div>
        <input type="radio" name="status" value="Rejected" [(ngModel)]="selectedStatus">
        <div class="custom-radio"></div>
      </label>

      <label class="status-item">
        <div class="status-label">
          <div class="dot processed"></div> Diproses
        </div>
        <input type="radio" name="status" value="Processed" [(ngModel)]="selectedStatus">
        <div class="custom-radio"></div>
      </label>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <div class="footer-pad">
    <ion-button expand="block" shape="round" color="primary" class="apply-btn" (click)="close()">
      Terapkan Filter (3)
    </ion-button>
  </div>
</ion-footer>
