<div class="sheet-container">
  <div class="drag-indicator-container">
    <div class="drag-indicator"></div>
  </div>

  <div class="sheet-header">
    <div class="title">Other Deductions</div>
    <ion-icon name="close-outline" class="close-btn" (click)="dismiss()"></ion-icon>
  </div>

  <div class="sheet-content">
    <div class="list-item">
      <ion-icon name="umbrella-outline" color="primary"></ion-icon>
      <div class="item-content">
        <div class="item-title">Unpaid Leave</div>
        <div class="item-subtitle">Federal Pension Scheme</div>
      </div>
      <div class="item-amount">-$65.00</div>
    </div>

    <div class="list-item">
      <ion-icon name="business-outline" color="primary"></ion-icon>
      <div class="item-content">
        <div class="item-title">Income Tax</div>
        <div class="item-subtitle">Statutory Deduction</div>
      </div>
      <div class="item-amount">-$450.00</div>
    </div>

    <div class="list-item">
      <ion-icon name="cash-outline" color="primary"></ion-icon>
      <div class="item-content">
        <div class="item-title">Pension Fund</div>
        <div class="item-subtitle">401(k) Contribution</div>
      </div>
      <div class="item-amount">-$185.00</div>
    </div>

    <div class="list-item">
      <ion-icon name="people-outline" color="primary"></ion-icon>
      <div class="item-content">
        <div class="item-title">Union Fee</div>
        <div class="item-subtitle">Monthly Membership</div>
      </div>
      <div class="item-amount">-$10.00</div>
    </div>
  </div>

  <div class="total-row">
    <div class="total-label">Total Deductions</div>
    <div class="total-amount danger">-$710.00</div>
  </div>
</div>
