<ion-content [fullscreen]="true">
  <div class="page-container">
    <app-page-header></app-page-header>
    
    <app-auth-header-icon icon="lock-closed-outline"></app-auth-header-icon>
    
    <div class="text-center auth-text">
      <h2 class="text-h4">Confirm your Security PIN</h2>
      <p class="text-body-medium-regular text-medium">
        Please enter your PIN again to confirm.
      </p>
    </div>
    
    <app-pin-dots [length]="4" [currentLength]="pinValue.length"></app-pin-dots>
  </div>
</ion-content>

<div class="fixed-bottom">
  <app-numpad variant="transparent" (keyPress)="onKeyPress($event)"></app-numpad>
</div>
