<ion-content [fullscreen]="true">
  <app-page-header title="Face Validation"></app-page-header>
  
  <div class="page-container">
    <app-camera-frame type="face" [success]="isSuccess" (onFaceDetected)="onFaceDetected($event)" (click)="simulateDetection()"></app-camera-frame>

    <div class="text-center info-text">
      <h2 class="text-h5">Verifikasi Wajah</h2>
      <p class="text-body-medium-regular text-medium">
        Hadap lurus ke kamera, pastikan kedua mata terlihat jelas dalam lingkaran.
      </p>
    </div>

    <div class="segmented-control">
      <div class="segment active">
        <ion-icon name="person-outline"></ion-icon>
        <span>Face</span>
      </div>
      <div class="segment" routerLink="/attendance/qr-validation">
        <ion-icon name="qr-code-outline"></ion-icon>
        <span>QR Code</span>
      </div>
    </div>

    <div class="security-badge text-body-xsmall-semibold">
      <ion-icon name="shield-checkmark-outline"></ion-icon>
      <span>SECURED BY KARAJO ID</span>
    </div>
  </div>
</ion-content>
