<ion-content [fullscreen]="true" class="bg-light">
  
  <div class="page-container">
    
    <div class="success-icon-container">
      <div class="icon-ring outer">
        <div class="icon-ring inner">
          <div class="icon-circle">
            <ion-icon name="checkmark-outline"></ion-icon>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center success-text">
      <h1 class="text-h4">Correction Request<br>Submitted</h1>
      <p class="text-body-medium-regular">Your request has been successfully sent. It is currently awaiting manager approval.</p>
    </div>

    <div class="details-card">
      <div class="detail-row">
        <span class="label">Request Type</span>
        <span class="value dark">Clock-in Correction</span>
      </div>
      
      <div class="card-divider"></div>
      
      <div class="time-compare">
        <div class="col">
          <span class="label">Original</span>
          <span class="value dark">09:12 AM</span>
        </div>
        <div class="col text-right">
          <span class="label blue">Corrected</span>
          <span class="value blue">08:30 AM</span>
        </div>
      </div>
    </div>

    <div class="badge-container">
      <div class="status-badge pending">
        <div class="dot"></div> Pending Approval
      </div>
    </div>

  </div>

  <div class="fixed-bottom">
    <app-button variant="primary" styleClass="w-full" routerLink="/attendance">Back to History</app-button>
  </div>
</ion-content>
