<ion-content [fullscreen]="true">
  <div class="page-container">
    <app-page-header></app-page-header>
    
    <app-auth-header-icon icon="lock-closed-outline"></app-auth-header-icon>
    
    <div class="text-center auth-text">
      <h2 class="text-h4">Buat Password Baru</h2>
      <p class="text-body-medium-regular text-medium">
        Password baru harus minimal 8 karakter.
      </p>
    </div>

    <app-input label="Password Baru" type="password" placeholder="••••••••" leftIcon="lock-closed-outline" [(value)]="password"></app-input>
    <app-input label="Konfirmasi Password" type="password" placeholder="••••••••" leftIcon="lock-closed-outline" [(value)]="passwordConfirm"></app-input>

    <app-button variant="primary" class="w-full" [disabled]="isLoading" (onClick)="resetPassword()">
      {{ isLoading ? 'Menyimpan...' : 'Reset Password' }}
    </app-button>
  </div>
</ion-content>
