<ion-content [fullscreen]="true">
  <div class="page-container">
    <app-page-header></app-page-header>
    
    <app-auth-header-icon icon="lock-closed-outline"></app-auth-header-icon>
    
    <div class="text-center auth-text">
      <h2 class="text-h4">Create New Password</h2>
      <p class="text-body-medium-regular text-medium">
        Your new password must be unique from those previously used.
      </p>
    </div>
    
    <app-input label="New Password" type="password" placeholder="••••••••" icon="lock-closed-outline"></app-input>
    <app-input label="Confirm New Password" type="password" placeholder="••••••••" icon="lock-closed-outline"></app-input>
    
    <app-button variant="primary" class="w-full" (onClick)="resetPassword()">Reset Password</app-button>
  </div>
</ion-content>
