<ion-content [fullscreen]="true">
  <div class="page-container">
    <app-page-header></app-page-header>
    
    <app-auth-header-icon icon="shield-checkmark-outline"></app-auth-header-icon>
    
    <div class="text-center auth-text">
      <h2 class="text-h4">Verify Your Identity</h2>
      <p class="text-body-medium-regular text-medium">
        We've sent a 6-digit verification code to <span class="text-dark font-medium">sarah@karajo.app</span>. Please enter it below.
      </p>
    </div>
    
    <app-otp-input [length]="6" [value]="otpValue"></app-otp-input>
    
    <div class="text-center resend-text">
      <p class="text-body-small-regular text-medium">Didn't receive the code?</p>
      <p class="text-body-small-semibold text-dark">Resend code in 00:59</p>
    </div>
    
    <app-button variant="primary" class="w-full" icon="arrow-forward-outline" iconPosition="right" (onClick)="verifyOtp()">Verify Account</app-button>
  </div>
</ion-content>

<div class="fixed-bottom">
  <app-numpad (keyPress)="onKeyPress($event)"></app-numpad>
</div>
