.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 0 24px;
  position: relative;
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  
  .ring-outer {
    width: 100px;
    height: 100px;
    border-radius: 28px;
    border: 1px solid #EAECF0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    
    .ring-inner {
      width: 80px;
      height: 80px;
      border-radius: 24px;
      border: 1px solid #F2F4F7;
      display: flex;
      justify-content: center;
      align-items: center;
      
      .icon-box {
        width: 56px;
        height: 56px;
        border-radius: 16px;
        background: #E0EAFF;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(-45deg);
        
        ion-icon {
          font-size: 24px;
          color: var(--ion-color-primary);
        }
      }
    }
  }
  
  .dot {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    
    &.top-right {
      top: 10px;
      right: 15px;
      background: var(--ion-color-primary);
      box-shadow: 0 0 0 6px #E0EAFF;
    }
    
    &.bottom-left {
      bottom: 10px;
      left: 15px;
      background: #98A2B3;
      box-shadow: 0 0 0 6px #F2F4F7;
    }
  }
}
