<div class="sheet-container">
  <div class="drag-indicator-container">
    <div class="drag-indicator"></div>
  </div>

  <div class="sheet-header">
    <div class="title">Allowances</div>
    <ion-icon name="close-outline" class="close-btn" (click)="dismiss()"></ion-icon>
  </div>

  <div class="sheet-content">
    <div class="list-item">
      <ion-icon name="home-outline" color="primary"></ion-icon>
      <div class="item-content">
        <div class="item-title">Housing Allowance</div>
        <div class="item-subtitle">Monthly fixed rate</div>
      </div>
      <div class="item-amount">$800.00</div>
    </div>

    <div class="list-item">
      <ion-icon name="car-outline" color="primary"></ion-icon>
      <div class="item-content">
        <div class="item-title">Transport Allowance</div>
        <div class="item-subtitle">Daily fixed rate</div>
      </div>
      <div class="item-amount">$250.00</div>
    </div>

    <div class="list-item">
      <ion-icon name="cafe-outline" color="primary"></ion-icon>
      <div class="item-content">
        <div class="item-title">Meal Allowance</div>
        <div class="item-subtitle">Daily fixed rate</div>
      </div>
      <div class="item-amount">$200.00</div>
    </div>
  </div>

  <div class="total-row">
    <div class="total-label">Total Allowances</div>
    <div class="total-amount">$1,250.00</div>
  </div>
</div>
