<div class="sheet-container">
  <div class="drag-indicator-container">
    <div class="drag-indicator"></div>
  </div>

  <div class="sheet-header">
    <div class="title">{{ title }}</div>
    <ion-icon name="close-outline" class="close-btn" (click)="dismiss()"></ion-icon>
  </div>

  <div class="sheet-content">
    <div class="list-item" *ngFor="let item of items">
      <ion-icon [name]="item.icon || 'document-text-outline'" color="primary"></ion-icon>
      <div class="item-content">
        <div class="item-title">{{ item.title }}</div>
        <div class="item-subtitle">{{ item.subtitle }}</div>
      </div>
      <div class="item-amount">{{ isDeduction ? '-' : '' }}{{ fmt(item.amount) }}</div>
    </div>
  </div>

  <div class="total-row">
    <div class="total-label">{{ totalLabel }}</div>
    <div class="total-amount" [class.danger]="isDeduction">{{ isDeduction ? '-' : '' }}{{ fmt(total) }}</div>
  </div>
</div>
