ion-content {
  --background: #ffffff;
}
.page-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing-4);
}
.auth-text {
  margin-bottom: 20px;
  h2 { margin: 0 0 12px; color: var(--ion-color-tertiary); }
  p { margin: 0; line-height: 1.5; padding: 0 16px; color: var(--ion-color-medium); }
}
.numpad-wrap {
  margin-top: auto;
  padding-top: 24px;
}
