<div class="sheet-container">
  <div class="drag-indicator-container">
    <div class="drag-indicator"></div>
  </div>

  <div class="sheet-header">
    <div class="title">Basic Salary</div>
    <ion-icon name="close-outline" class="close-btn" (click)="dismiss()"></ion-icon>
  </div>

  <div class="sheet-content">
    <div class="list-item">
      <ion-icon name="document-text-outline" color="primary"></ion-icon>
      <div class="item-content">
        <div class="item-title">Basic Salary</div>
        <div class="item-subtitle">Monthly fixed rate</div>
      </div>
      <div class="item-amount">$3,500.00</div>
    </div>

    <div class="list-item">
      <ion-icon name="time-outline" color="primary"></ion-icon>
      <div class="item-content">
        <div class="item-title">Overtime</div>
        <div class="item-subtitle">Monthly fixed rate</div>
      </div>
      <div class="item-amount">$450.00</div>
    </div>

    <div class="list-item">
      <ion-icon name="people-outline" color="primary"></ion-icon>
      <div class="item-content">
        <div class="item-title">Position Allowance</div>
        <div class="item-subtitle">Monthly fixed rate</div>
      </div>
      <div class="item-amount">$500.00</div>
    </div>

    <div class="list-item">
      <ion-icon name="car-outline" color="primary"></ion-icon>
      <div class="item-content">
        <div class="item-title">Transport</div>
        <div class="item-subtitle">Fixed allowance</div>
      </div>
      <div class="item-amount">$150.00</div>
    </div>
  </div>

  <div class="total-row">
    <div class="total-label">Total Gross Salary</div>
    <div class="total-amount">$4,600.00</div>
  </div>
</div>
